<h1>Fotosession</h1>
<form action="/foto" method="POST" role="form">
  
  <div class="form-group">
    <label>Name</label>                                                                    
    <input name="username" type="text" class="form-control"  placeholder="Enter your name" value="<%= @username %>">
  </div>
 <div class="form-group">
    <label>datetime</label>
    <input name="datetime" type="datetime" class="form-control" placeholder="enter datetime" value="<%= @datetime %>">
  </div>

 <div class="form-group">
    <label>Photograf</label>
      <select name="photograf" class="custom-select">
     <option>Gleb Smirnoff</option>
    <option>Ditriy</option>
    <option>Sasha</option>
  </select>
   </div>
  
<div class="form-group">
    <label>Collor your favorit collor</label>
   
<select id="color" name="color">
  <option value="#7bd148">Green</option>
  <option value="#5484ed">Bold blue</option>
  <option value="#a4bdfc">Blue</option>
  <option value="#46d6db">Turquoise</option>
  <option value="#7ae7bf">Light green</option>
  <option value="#51b749">Bold green</option>
  <option value="#fbd75b">Yellow</option>
  <option value="#ffb878">Orange</option>
  <option value="#ff887c">Red</option>
  <option value="#dc2127">Bold red</option>
  <option value="#dbadff">Purple</option>
  <option value="#e1e1e1">Gray</option>
</select>
 </div>

  <button type="submit" class="btn btn-primary">try</button>
</form>
<script type="text/javascript">
$(function(){
$('#color').simplecolorpicker();
});
</script>


